<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Khóa học của tôi ({{courseNum}})</h2>
        <a href="/personal/stored-courses/deleted">Các khóa đã xóa</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a class="text-reset" href="{{getSortUrl 'name' _sort}}">
                        Tên khóa học
                        {{{getSortIcon 'name' _sort}}}
                    </a>
                </th>
                <th scope="col">
                    <a class="text-reset" href="{{getSortUrl 'level' _sort}}">
                        Trình độ
                        {{{getSortIcon 'level' _sort}}}
                    </a>
                </th>
                <th scope="col">
                    <a class="text-reset" href="{{getSortUrl 'createdAt' _sort}}">
                        Thời gian tạo
                        {{{getSortIcon 'createdAt' _sort}}}
                    </a>
                </th>
                <th scope="col" class="ps-3">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{increaseOne @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/course/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#comfirmModal"
                        data-bs-id="{{this._id}}">
                        Xóa
                    </a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td height="300px" class="text-center" colspan="5">
                    Bạn chưa tạo khóa học nào. Nhấp
                    <a href="/course/create">vào đây</a>
                    để tạo
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="comfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="comfirmDeleteCourseBtn" type="button" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script type="module">
    const comfirmModal = document.getElementById('comfirmModal')
    comfirmModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const id = button.getAttribute('data-bs-id')

        const btnDelete = document.getElementById('comfirmDeleteCourseBtn')

        btnDelete.onclick = () => {
            axios.delete('/course/' + id)
                .then(function (response) {
                    // handle success
                    if (response.data.status == 'success')
                        location.reload();
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
        }
    })
</script>